/* You can add global styles to this file, and also import other style files */

$primary-color: #0AC5A8;
$secondary-color: #61FECB;
$primary-color-light: #eafdf7;
$accent-color: #0a917c;

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden !important;
}